In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
#from langdetect import detect 
#import spacy
import nltk

In [5]:
!pip install langdetect

Requirement already satisfied: langdetect in c:\users\up689fr\onedrive - ey\documents\practice_folder\genai_test\myvenv\lib\site-packages (1.0.9)
Requirement already satisfied: six in c:\users\up689fr\onedrive - ey\documents\practice_folder\genai_test\myvenv\lib\site-packages (from langdetect) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
df_movies = pd.read_csv('Data/tmdb_5000_movies.csv')
df_credits = pd.read_csv('Data/tmdb_5000_credits.csv')
print(f'the columns of movies : {df_movies.columns}', end=" ")
print(f'the columns of credits : {df_credits.columns}', end= " ")

the columns of movies : Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object') the columns of credits : Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [7]:
movies = df_movies.merge(df_credits,on='title')
movies.shape

(4809, 23)

In [8]:
## genres, id, keywords,popularity,release_Date,revenue, cast, overview, crew
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [9]:
## selected columns 
movie_slc = movies[['genres','id','title','keywords','popularity','overview','release_date','cast','crew']]
movie_slc.head()

,genres,id,title,keywords,popularity,overview,release_date,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",150.437577,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",139.082615,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,Spectre,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",107.376788,A cryptic message from Bond’s past sends him o...,2015-10-26,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,The Dark Knight Rises,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",112.312950,Following the death of District Attorney Harve...,2012-07-16,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,John Carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",43.926995,"John Carter is a war-weary, former military ca...",2012-03-07,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [10]:
## duplciated value check 
movie_slc.duplicated().sum()

np.int64(0)

In [11]:
movie_cpy = movie_slc.copy()
movie_cpy.dropna(inplace=True)

In [12]:
movie_cpy.reset_index(inplace=True)

In [13]:
movie_cpy.tail()

,index,genres,id,title,keywords,popularity,overview,release_date,cast,crew
4800,4804,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",9367,El Mariachi,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",14.269792,El Mariachi just wants to play his guitar and ...,1992-09-04,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4801,4805,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",72766,Newlyweds,[],0.642552,A newlywed couple's honeymoon is upended by th...,2011-12-26,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4802,4806,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",231617,"Signed, Sealed, Delivered","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",1.444476,"""Signed, Sealed, Delivered"" introduces a dedic...",2013-10-13,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4803,4807,[],126186,Shanghai Calling,[],0.857008,When ambitious New York attorney Sam is sent t...,2012-05-03,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4804,4808,"[{""id"": 99, ""name"": ""Documentary""}]",25975,My Date with Drew,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",1.929883,Ever since the second grade when he first saw ...,2005-08-05,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [14]:
import ast
def convert_obj(obj_lst):
    l = []
    for i in ast.literal_eval(obj_lst):
        l.append(i["name"])
    return l

In [15]:

movie_cpy['movie_genre_names']=  movie_cpy['genres'].apply(convert_obj)
movie_cpy['keywords_name'] = movie_cpy['keywords'].apply(convert_obj)
len(ast.literal_eval(movie_cpy['cast'][3]))

158

In [16]:
# to get the cast names we need to get 3 cast names from the movie community
def convert_cast(obj):
    l=[]
    counter=1
    for j in ast.literal_eval(obj):
        if counter!=4:
            l.append((counter,j['name']))
            counter=counter+1
        else:
            break
        

    return l

movie_cpy['cast_name'] = movie_cpy['cast'].apply(convert_cast)
movie_cpy['cast_name'][0]

[(1, 'Sam Worthington'), (2, 'Zoe Saldana'), (3, 'Sigourney Weaver')]

In [17]:
def convert_crew(obj):
    m=[]
    for l in ast.literal_eval(obj):
        if l['job']=='Director':
            m.append(l['name'])
            break
    return m

movie_cpy['director_name'] = movie_cpy['crew'].apply(convert_crew)
movie_cpy.head()

,index,genres,id,title,keywords,popularity,overview,release_date,cast,crew,movie_genre_names,keywords_name,cast_name,director_name
0,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",150.437577,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[(1, Sam Worthington), (2, Zoe Saldana), (3, S...",[James Cameron]
1,1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",139.082615,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[(1, Johnny Depp), (2, Orlando Bloom), (3, Kei...",[Gore Verbinski]
2,2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,Spectre,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",107.376788,A cryptic message from Bond’s past sends him o...,2015-10-26,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[(1, Daniel Craig), (2, Christoph Waltz), (3, ...",[Sam Mendes]
3,3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,The Dark Knight Rises,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",112.312950,Following the death of District Attorney Harve...,2012-07-16,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[(1, Christian Bale), (2, Michael Caine), (3, ...",[Christopher Nolan]
4,4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,John Carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",43.926995,"John Carter is a war-weary, former military ca...",2012-03-07,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[(1, Taylor Kitsch), (2, Lynn Collins), (3, Sa...",[Andrew Stanton]

In [18]:
#movie_cpy['overview'] = movie_cpy['overview'].apply(lambda x:x.split())
[(cn,"".join(nme.split()))   for cn, nme in movie_cpy['cast_name'][0]]

[(1, 'SamWorthington'), (2, 'ZoeSaldana'), (3, 'SigourneyWeaver')]

In [19]:
movie_cpy['cast_name']=movie_cpy['cast_name'].apply(lambda x : [(cn,"".join(nme.split()))  for cn,nme in x])
movie_cpy['director_name'] =  movie_cpy['director_name'].apply(lambda x: ["".join(j.split()) for j in x])
movie_cpy.head()

,index,genres,id,title,keywords,popularity,overview,release_date,cast,crew,movie_genre_names,keywords_name,cast_name,director_name
0,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",150.437577,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[(1, SamWorthington), (2, ZoeSaldana), (3, Sig...",[JamesCameron]
1,1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",139.082615,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[(1, JohnnyDepp), (2, OrlandoBloom), (3, Keira...",[GoreVerbinski]
2,2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,Spectre,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",107.376788,A cryptic message from Bond’s past sends him o...,2015-10-26,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[(1, DanielCraig), (2, ChristophWaltz), (3, Lé...",[SamMendes]
3,3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,The Dark Knight Rises,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",112.312950,Following the death of District Attorney Harve...,2012-07-16,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[(1, ChristianBale), (2, MichaelCaine), (3, Ga...",[ChristopherNolan]
4,4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,John Carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",43.926995,"John Carter is a war-weary, former military ca...",2012-03-07,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[(1, TaylorKitsch), (2, LynnCollins), (3, Sama...",[AndrewStanton]

In [21]:
movie_cpy["movie_genre_names"] = movie_cpy['movie_genre_names'].apply(lambda x: ["".join(m.split(" ")) for m in x])
movie_cpy["keywords_name"] = movie_cpy["keywords_name"].apply(lambda x: ["".join(m.split(" ")) for m in x])

In [22]:
movie_cpy.head()

,index,genres,id,title,keywords,popularity,overview,release_date,cast,crew,movie_genre_names,keywords_name,cast_name,director_name
0,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",150.437577,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[(1, SamWorthington), (2, ZoeSaldana), (3, Sig...",[JamesCameron]
1,1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",139.082615,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[(1, JohnnyDepp), (2, OrlandoBloom), (3, Keira...",[GoreVerbinski]
2,2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,Spectre,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",107.376788,A cryptic message from Bond’s past sends him o...,2015-10-26,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[(1, DanielCraig), (2, ChristophWaltz), (3, Lé...",[SamMendes]
3,3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,The Dark Knight Rises,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",112.312950,Following the death of District Attorney Harve...,2012-07-16,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[(1, ChristianBale), (2, MichaelCaine), (3, Ga...",[ChristopherNolan]
4,4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,John Carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",43.926995,"John Carter is a war-weary, former military ca...",2012-03-07,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[(1, TaylorKitsch), (2, LynnCollins), (3, Sama...",[AndrewStanton]

In [23]:
movie_cpy['overview'].head()

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bond’s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object

In [24]:
movie_cpy['overview'] = movie_cpy['overview'].apply(lambda x:x.split())
movie_cpy['cast_name'] = movie_cpy['cast_name'].apply(lambda x:[val for ky,val in x])
movie_cpy

,index,genres,id,title,keywords,popularity,overview,release_date,cast,crew,movie_genre_names,keywords_name,cast_name,director_name
0,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",150.437577,"[In, the, 22nd, century,, a, paraplegic, Marin...",2009-12-10,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",139.082615,"[Captain, Barbossa,, long, believed, to, be, d...",2007-05-19,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,Spectre,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",107.376788,"[A, cryptic, message, from, Bond’s, past, send...",2015-10-26,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,The Dark Knight Rises,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",112.312950,"[Following, the, death, of, District, Attorney...",2012-07-16,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,John Carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",43.926995,"[John, Carter, is, a, war-weary,, former, mili...",2012-03-07,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4800,4804,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",9367,El Mariachi,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",14.269792,"[El, Mariachi, just, wants, to, play, his, gui...",1992-09-04,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de...","[Action, Crime, Thriller]","[unitedstates–mexicobarrier, legs, arms, paper...","[CarlosGallardo, JaimedeHoyos, PeterMarquardt]",[RobertRodriguez]
4801,4805,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",72766,Newlyweds,[],0.642552,"[A, newlywed, couple's, honeymoon, is, upended...",2011-12-26,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de...","[Comedy, Romance]",[],"[EdwardBurns, KerryBishé, MarshaDietlein]",[EdwardBurns]
4802,4806,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",231617,"Signed, Sealed, Delivered","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",1.444476,"[""Signed,, Sealed,, Delivered"", introduces, a,...",2013-10-13,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de...","[Comedy, Drama, Romance, TVMovie]","[date, loveatfirstsight, narration, investigat...","[EricMabius, KristinBooth, CrystalLowe]",[ScottSmith]
4803,4807,[],126186,Shanghai Calling,[],0.857008,"[When, ambitious, New, York, attorney, Sam, is...",2012-05-03,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de...",[],[],"[DanielHenney, ElizaCoupe, BillPaxton]",[DanielHsia]
4804,4808,"[{""id"": 99, ""name"": ""Documentary""}]",25975,My Date with Drew,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",1.929883,"[Ever, since, the, second, grade, when, he, fi...",2005-08-05,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de...",[Documentary],"[obsession, camcorder, crush, dreamgirl]","[DrewBarrymore, BrianHerzlinger, CoreyFeldman]",[BrianHerzlinger]

In [25]:
movie_cpy['tags'] = movie_cpy['overview']+movie_cpy['keywords_name']+movie_cpy['cast_name']+movie_cpy['director_name']
movie_cpy.head()

,index,genres,id,title,keywords,popularity,overview,release_date,cast,crew,movie_genre_names,keywords_name,cast_name,director_name,tags
0,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",150.437577,"[In, the, 22nd, century,, a, paraplegic, Marin...",2009-12-10,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",139.082615,"[Captain, Barbossa,, long, believed, to, be, d...",2007-05-19,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,Spectre,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",107.376788,"[A, cryptic, message, from, Bond’s, past, send...",2015-10-26,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,The Dark Knight Rises,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",112.312950,"[Following, the, death, of, District, Attorney...",2012-07-16,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,John Carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",43.926995,"[John, Carter, is, a, war-weary,, former, mili...",2012-03-07,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [26]:
new_mvie = movie_cpy[['id','title','tags']]
new_mvie['tags']= new_mvie['tags'].apply(lambda x:" ".join(x))
new_mvie.head()

C:\Users\UP689FR\AppData\Local\Temp\ipykernel_40888\56448832.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_mvie['tags']= new_mvie['tags'].apply(lambda x:" ".join(x))

,id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [27]:
new_mvie['tags']= new_mvie['tags'].apply(lambda x:x.lower())
new_mvie

C:\Users\UP689FR\AppData\Local\Temp\ipykernel_40888\525159646.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_mvie['tags']= new_mvie['tags'].apply(lambda x:x.lower())

,id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."
...,...,...,...
4800,9367,El Mariachi,el mariachi just wants to play his guitar and ...
4801,72766,Newlyweds,a newlywed couple's honeymoon is upended by th...
4802,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduces a dedic..."
4803,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...
4804,25975,My Date with Drew,ever since the second grade when he first saw ...

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [29]:
vectores = cv.fit_transform(new_mvie['tags']).toarray()
vectores

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(4805, 5000))

In [30]:
cnter=0
fe_50=[]
for fe in list(cv.get_feature_names_out()):
    if cnter!=50:
        fe_50.append(fe)
        cnter=cnter+1
    else:
        break

print(fe_50)

['000', '007', '10', '100', '11', '12', '13', '14', '15', '16', '17', '18', '18th', '19', '1930s', '1940s', '1944', '1950s', '1960s', '1970s', '1974', '1976', '1980', '1980s', '1985', '1990s', '1999', '19th', '19thcentury', '20', '200', '2003', '2009', '20th', '24', '25', '30', '300', '3d', '40', '50', '500', '60', '60s', '70', 'aaron', 'aaroneckhart', 'abandoned', 'abducted', 'abigailbreslin']

In [31]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
def stemming_words(txt):
    tx=[]
    for i in txt.split():
        tx.append(ps.stem(i))

    return " ".join(tx)

In [32]:
new_mvie['tags'] = new_mvie['tags'].apply(stemming_words)
new_mvie['tags'][0]

C:\Users\UP689FR\AppData\Local\Temp\ipykernel_40888\1396141778.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_mvie['tags'] = new_mvie['tags'].apply(stemming_words)

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [33]:
fe = list(cv.get_feature_names_out())
fe_100 = fe[:100]
fe_100

['000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '18th',
 '19',
 '1930s',
 '1940s',
 '1944',
 '1950s',
 '1960s',
 '1970s',
 '1974',
 '1976',
 '1980',
 '1980s',
 '1985',
 '1990s',
 '1999',
 '19th',
 '19thcentury',
 '20',
 '200',
 '2003',
 '2009',
 '20th',
 '24',
 '25',
 '30',
 '300',
 '3d',
 '40',
 '50',
 '500',
 '60',
 '60s',
 '70',
 'aaron',
 'aaroneckhart',
 'abandoned',
 'abducted',
 'abigailbreslin',
 'abilities',
 'ability',
 'able',
 'aboard',
 'abuse',
 'abusive',
 'academy',
 'accept',
 'accepted',
 'accepts',
 'access',
 'accident',
 'accidental',
 'accidentally',
 'accompanied',
 'accomplish',
 'account',
 'accountant',
 'accused',
 'ace',
 'achieve',
 'act',
 'acting',
 'action',
 'actionhero',
 'actions',
 'activist',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'acts',
 'actual',
 'actually',
 'adam',
 'adams',
 'adamsandler',
 'adamshankman',
 'adaptation',
 'adapted',
 'addict',
 'addicted',
 'addiction',
 'adolescence',
 'adopt',
 'adopted',
 'adoption',
 'adopts',
 'adrienbrody']

In [34]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(vectores).shape

(4805, 4805)

In [35]:
## here we can see that its giving us matrix , where for its calculating similarity between one movie while
#comparing with other 4800 movies 
similarity_mtrix = cosine_similarity(vectores)
similarity_mtrix[2]

array([0.        , 0.        , 1.        , ..., 0.02951407, 0.        ,
       0.        ], shape=(4805,))

In [36]:
sorted(list(enumerate(similarity_mtrix[1])),reverse=True,key=lambda x:x[1])[1:6]

[(12, np.float64(0.37139067635410367)),
 (199, np.float64(0.2100902925755561)),
 (3570, np.float64(0.19795189561622392)),
 (17, np.float64(0.19676758717731274)),
 (848, np.float64(0.16000261230887303))]

In [37]:
def Recommend_Movie(movie):
    movie_index= new_mvie[new_mvie['title']==movie].index[0]
    movie_lst=sorted(list(enumerate(similarity_mtrix[movie_index])),reverse=True,key=lambda x:x[1])[1:6]
    for mve in movie_lst:
        print(new_mvie.iloc[mve[0]]['title'])

In [38]:
new_mvie[new_mvie['title']=='Batman Begins'].index[0]

np.int64(119)

In [39]:
Recommend_Movie('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman v Superman: Dawn of Justice
Batman

In [40]:
Recommend_Movie('Newlyweds')

Purple Violets
She's the One
Our Family Wedding
A Perfect Getaway
Something Wicked